{% extends 'app/base.html' %}
{% load static %}

{% block title %}Busqueda{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/busqueda_mobile.css' %}">
{% endblock %}

{% block contenido %}
  <!-- Buscador -->
  <div class="buscador-busqueda">
    <div class="campo-busqueda">
      <i class="fas fa-search"></i>
      <input type="text" id="inputBusqueda" placeholder="Buscar..." autocomplete="off" />
    </div>
  </div>

  <div class="filtro">
    <span>Recientes</span>
    <a href="#">Ver todo</a>
  </div>

  <div class="busqueda-contenido" id="dropdownBuscador">
    <div class="usuarios-buscados">
      <!-- Se insertan con JS -->
    </div>
  </div>


  <!-- Menú mobile -->
  <div class="menu-mobile">
    <a href="{% url 'feed' %}"><i class="fas fa-home"></i></a>
    <a href="{% url 'search_mobile' %}"><i class="fas fa-search"></i></a>
    <a href="{% url 'friends' %}"><i class="fas fa-user-friends"></i></a>
    <a href="{% url 'chat' %}"><i class="fas fa-envelope"></i></a>
  </div>
{% endblock %}

{% block extra_body_content %}
  {% block contenido2 %}{% endblock %}
{% endblock %}
