{% extends 'app/base.html' %}
{% load static %}

{% block title %}Perfil{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/perfil_conectati.css' %}">
{% endblock %}

{% block encabezado_unificado %}{% endblock %}

{% block contenido %}
    <!-- Cabecera del perfil -->
    <div class="area-perfil">
      <div class="perfil-header">
        <div class="franja-azul">
          <img class="avatar" src="{% if usuario_logueado.foto %}{{ usuario_logueado.foto }}{% else %}{% static 'images/default_user.avif' %}{% endif %}" alt="{{ usuario_logueado.nombre }}" />
          <div class="info-texto">
            <h2>{{ usuario_logueado.nombre }}</h2>
            <p class="usuario">@{{ usuario_logueado.username }}</p>
            <p class="bio">{{ usuario_logueado.descripcion }}</p>
          </div>
          <a  class="editar-perfil" href="/app/editprofile">
            <span>Editar perfil</span>
          </a>

        </div>
        <div class="barra-inferior">
          <span><strong>{{ cantidad_amigos }}</strong> Amigos</span>
        </div>
      </div>

      <!-- Publicaciones -->
      {% for post in publicaciones %}
        <div class="post">
          <div class="post-header">
            <img class="avatar" src="{% if post.usuario.foto %}{{ post.usuario.foto }}{% else %}{% static 'images/default_user.avif' %}{% endif %}" alt="{{ post.usuario.nombre }}" />
            <div class="info-texto">
              <strong>{{ post.usuario.nombre }}</strong>
              <span class="usuario">@{{ post.usuario.username }}</span>
            </div>
          </div>

          <p class="post-texto">{{ post.texto }}</p>

          {% if post.archivo_nombre %}
            <img class="post-image" src="/media/publicaciones/{{ post.archivo_nombre }}" alt="Imagen de la publicación">
          {% endif %}

          <div class="post-acciones">
            <button class="accion"><i class="far fa-star"></i> {{ post.estrellas }}</button>
            <button class="accion comentario-btn"><i class="far fa-comment"></i> 0</button>
          </div>
          <div class="meta">{{ post.fecha|time:"H:i" }} · {{ post.fecha|date:"d/m/Y" }}</div>
        </div>
      {% endfor %}


    </div>
{% endblock %} 
