{% extends "app/base.html" %}
{% load static i18n %}

{% block title %}{% trans "Publicación" %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/publicacion_conectati.css' %}">
{% endblock %}

{% block titulo_pagina %}{% trans "Publicación" %}{% endblock %}
{% block titulo_pagina_mobile %}{% trans "Publicación" %}{% endblock %}

{% block contenido2 %}
<div class="contenedor-info">
    <section class="publicacion">
    <article class="post-principal">
        <a href="{% url 'ver_perfil_usuario' publicacion.usuario.id %}" class="stop-click">
            <div class="usuario">
            <img src="{% if publicacion.usuario.foto %}{{ publicacion.usuario.foto }}{% else %}{% static 'images/default_user.avif' %}{% endif %}" alt="{{ publicacion.usuario.nombre }}" />
            <div class="datos">
                <strong>{{ publicacion.usuario.nombre }}</strong>
                <span>@{{ publicacion.usuario.username }} · {{ publicacion.fecha|timesince }}</span>
            </div>
        </a>
        {% if not es_propia %}
            {% if estado_amistad == "aceptada" %}
                <button class="seguir" disabled>{% trans "Amigos" %}</button>
            {% elif estado_amistad == "pendiente" %}
                <button class="seguir" disabled>{% trans "Pendiente" %}</button>
            {% else %}
                <button class="seguir" onclick="enviarSolicitud('{{ publicacion.usuario.id }}', this)">{% trans "Añadir" %}</button>
            {% endif %}
        {% endif %}

        </div>
        <p class="contenido-post">{{ publicacion.texto }}</p>
        {% if publicacion.archivo_nombre %}
          <img class="imagen-post" src="/media/publicaciones/{{ publicacion.archivo_nombre }}" alt="{% trans 'Imagen de la publicación' %}">
        {% endif %}
        <div class="acciones">
          <span class="estrella {% if publicacion.id in estrellas_usuario %}marcada{% endif %}" data-id="{{ publicacion.id }}">
              <i class="fas fa-star"></i> <span class="contador">{{ publicacion.estrellas }}</span>
          </span>
          <span class="comentario-contenedor">
            <i class="far fa-comment comentario-btn"
                data-id="{{ publicacion.id }}"
                data-tipo="publicacion"
                data-texto="{{ publicacion.texto|escapejs }}"
                data-nombre="{{ publicacion.usuario.nombre }}"
                data-username="@{{ publicacion.usuario.username }}"
                data-foto="{% if publicacion.usuario.foto %}{{ publicacion.usuario.foto }}{% else %}{% static 'images/default_user.avif' %}{% endif %}"
                data-imagen="{% if publicacion.archivo_nombre %}/media/publicaciones/{{ publicacion.archivo_nombre }}{% endif %}">
            </i><span class="contador-comentarios">{{ num_comentarios }}</span>
          </span>
        </div>
        <div class="meta">{{ publicacion.fecha|time:"H:i" }} · {{ publicacion.fecha|date:"d/m/Y" }}</div>
    </article>

    <div class="form-respuesta">
        <img src="{% if usuario_logueado.foto %}{{ usuario_logueado.foto }}{% else %}{% static 'images/default_user.avif' %}{% endif %}" alt="{% trans 'Mi perfil' %}" />
        <input type="text" placeholder="{% trans 'Postea tu respuesta' %}" id="respuestaRapida" />
        <button class="btn-responder" id="btnResponderRapido" data-publicacion-id="{{ publicacion.id }}">{% trans "Responder" %}</button>
    </div>

    <div class="comentarios">
        <h3>{% trans "Comentarios" %}</h3>
        {% if comentarios %}
            {% for comentario in comentarios %}
                <div class="comentario card-comentario" data-url="{% url 'comentario_hilo' comentario.id %}">
                <a href="{% url 'ver_perfil_usuario' comentario.usuario.id %}" class="stop-click">
                    <img src="{% if comentario.usuario.foto %}{{ comentario.usuario.foto }}{% else %}{% static 'images/default_user.avif' %}{% endif %}" alt="{{ comentario.usuario.nombre }}" />
                </a>
                
                <div class="contenido">
                    <a href="{% url 'ver_perfil_usuario' comentario.usuario.id %}" class="stop-click">
                        <div class="usuario">
                            <strong>{{ comentario.usuario.nombre }}</strong>
                            <span>@{{ comentario.usuario.username }} · {{ comentario.fecha|timesince }}</span>
                        </div>
                    </a>

                    <p>{{ comentario.texto }}</p>

                    <div class="acciones">
                        <span class="stop-click">
                        <i class="far fa-comment comentario-btn stop-click"
                        data-id="{{ comentario.id }}"
                        data-tipo="comentario"
                        data-publicacion-id="{{ publicacion.id }}"
                        data-texto="{{ comentario.texto|escapejs }}"
                        data-nombre="{{ comentario.usuario.nombre }}"
                        data-username="@{{ comentario.usuario.username }}"
                        data-foto="{% if comentario.usuario.foto %}{{ comentario.usuario.foto }}{% else %}{% static 'images/default_user.avif' %}{% endif %}">
                        </i>
                        <span class="contador-comentarios">{{ comentario.num_comentarios }}</span>
                    </span>
                    </div>

                    <div class="meta">{{ comentario.fecha|time:"H:i" }} · {{ comentario.fecha|date:"d/m/Y" }}</div>
                </div>
                </div>
            {% endfor %}
            {% else %}
                <p class="sin-comentario">{% trans "Sin comentarios" %}</p>
            {% endif %}
    </div>
    </section>
    {% block panel_lateral %}
    <div class="panel-lateral">
        <h3>{% trans "Mensajes" %}</h3>
        {% if chats %}
            {% for chat in chats %}
            <a href="{% url 'chat' %}">
                <div class="mensaje-preview">
                <img src="{{ chat.foto|default:'/static/images/default_user.avif' }}" alt="{{ chat.nombre }}" />
                <div class="mensaje-info">
                    <div class="usuario">
                    <span class="nombre">{{ chat.nombre }}</span>
                    <span>@{{ chat.username }}</span>
                    </div>
                    <p>{% trans "Haz clic para conversar" %}</p>
                </div>
                <i class="fas fa-envelope"></i>
                </div>
            </a>
            {% endfor %}
        {% else %}
            <div class="mensaje-vacio-chat" style="color: #888; text-align: center; padding: 1rem 0;">{% trans "No hay mensajes." %}</div>
        {% endif %}

        <h3>{% trans "Solicitudes de mensajes" %}</h3>
        {% if solicitudes_chat_pendientes %}
            {% for solicitud in solicitudes_chat_pendientes %}
            <div class="solicitud-preview">
            <img src="{{ solicitud.de_usuario.foto|default:'/static/images/default_user.avif' }}" alt="{{ solicitud.de_usuario.nombre }}" />
            <div class="mensaje-info">
                <div class="usuario">
                <span class="nombre">{{ solicitud.de_usuario.nombre }}</span>
                <span>@{{ solicitud.de_usuario.username }}</span>
                </div>
                <p>{% trans "¿Podemos hablar por aquí?" %}</p>
            </div>
            <div class="acciones">
                <i class="fas fa-check aceptar" title="{% trans 'Aceptar' %}" data-id="{{ solicitud.id }}"></i>
                <i class="fas fa-times rechazar" title="{% trans 'Rechazar' %}" data-id="{{ solicitud.id }}"></i>
            </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="mensaje-sin-solicitud">{% trans "No tienes solicitudes de chat pendientes." %}</div>
        {% endif %}
    </div>
    {% endblock %}
{% endblock %}

{% block extra_body_content %}
{% include "app/_modal_respuesta.html" %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/publicacion_conectati.js' %}"></script>
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
{% endblock %}