:root {
  --color-fondo: #E5E7EB;
  --color-iconos: #8E9BFF;
  --color-bordes: #ccc;
  --lavanda-translucido: rgba(188, 190, 255, 0.4);
}

.tema-oscuro {
  --color-fondo: #2C2B4F;
  --color-iconos: #8E9BFF;
  --color-texto: #FFFFFF;
  --color-sub: #d5ebff;
  --lavanda-translucido: rgba(155, 155, 212, 0.4);
}

/* Área de mensajes */
.area-info {
  margin-left: 440px;
  flex-direction: column;
  height: 100vh;
  width: calc(100% - 440px);
}

.mensajes-sin-mensajes, .mensajes-sin-solicitud, .mensaje-vacio-chat {
  color: var(--color-sub);
  text-align: center;
  padding: 1rem 0;
}

/* Contenido inferior */
.contenedor-info {
  display: flex;
  flex: 1;
  height: calc(100vh - 80px);
  overflow: hidden;
}

.configuracion {
  padding: 2rem;
  display: flex;
  border-right: 1px solid var(--color-bordes);
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 60%;
}

.grupo-opcion {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10rem;
  position: relative;
  z-index: 1; 
}

.grupo-opcion label{
  color: var(--color-texto);
}
/* PICKERS PERSONALIZADOS */
.selector-toggle {
  position: relative;
  display: inline-block;
}


.btn-privacidad {
  background-color: var(--color-iconos);
  color: var(--color-texto);
  font-weight: bold;
  border-radius: 2rem;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  width: auto;
}

.menu-privacidad {
  top: 100%; /* Aparece justo debajo */
  left: 0;
  background-color: var(--color-iconos);
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0.4rem 0;
  margin-top: 0.4rem; /* pequeña separación */
  z-index: 9999;
  display: none;
  min-width: 110px;
}

.menu-privacidad li {
  padding: 0.6rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  color: var(--color-texto);
}

.menu-privacidad li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.selector-toggle:has(input:checked) .menu-privacidad {
  display: block;
}

/* MOBILE ajustes */
@media (max-width: 876px) {
  .selector-toggle {
    width: 150px;
  }

  .btn-privacidad {
    font-size: 0.95rem;
    padding: 0.4rem 0.8rem;
  }

  .menu-privacidad li {
    font-size: 0.95rem;
  }
}

.notificaciones::-webkit-scrollbar,
.panel-lateral::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* VERSIÓN RESPONSIVE */
@media (max-width: 876px) {

  html,
  body {
    overflow: hidden;
    height: 100vh;
  }
  aside,
  .panel-lateral,
  .fila-encabezados {
    display: none;
  }

  .header-mobile,
  .menu-mobile {
    display: flex;
  }

  .area-info {
    margin: 70px 0 60px 0;
    width: 100%;
    overflow-y: auto;
  }

  .contenedor-info {
    flex-direction: column;
    width: 100%;
  }

  .titulo-mobile {
    display: block;
  }
  .configuracion {
    width: 100%;
    padding: 2rem 1.5rem;
    gap: 1.8rem;
    justify-content: center;
    align-items: center;
  }
  .custom-select {
    width: 150px;
    padding: 0.4rem 0.8rem;
  }

  .custom-select select {
    font-size: 0.95rem;
  }

}