:root {
  --color-fondo: #E5E7EB;
  --color-iconos: #8E9BFF;
  --color-bordes: #ccc;
  --color-sub: #666;
  --lavanda-translucido: rgba(188, 190, 255, 0.4);
}

.tema-oscuro {
  --color-fondo: #2C2B4F;
  --color-iconos: #8E9BFF;
  --color-texto: #FFFFFF;
  --color-sub: #d5ebff;
  --lavanda-translucido: rgba(155, 155, 212, 0.4);;
}

/* Área de mensajes */
.area-info {
  margin-left: 440px;
  flex-direction: column;
  height: 100vh;
  width: calc(100% - 440px);
}

.mensajes-sin-mensajes, .mensajes-sin-solicitud, .mensaje-vacío-chat {
  color: var(--color-sub);
  text-align: center;
  padding: 1rem 0;
}

/* Contenido inferior */
.contenedor-info {
  display: flex;
  flex: 1;
  height: calc(100vh - 80px);
  overflow: hidden;
}

/* Sección central de publicación */
.publicacion {
  padding: 2rem;
  overflow-y: auto;
  width: 60%;
  border-right: 1px solid var(--color-bordes);
}

.publicacion .acciones i {
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.publicacion .acciones i:hover {
  opacity: 0.7;
}

/* Post principal */
.post-principal {
  margin-bottom: 2rem;
}

.post-principal .usuario {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.post-principal .usuario img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
}

.post-principal .usuario .datos {
  flex: 1;
}

.post-principal .usuario .datos strong {
  display: block;
  font-size: 1.1rem;
  color: var(--color-texto);
}

.post-principal .usuario .datos span {
  font-size: 0.95rem;
  color: var(--color-texto);
}

.post-principal .seguir {
  background-color: var(--color-iconos);
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 12px;
  font-weight: bold;
  font-size: 0.85rem;
  cursor: pointer;
}

.post-principal .contenido-post {
  font-size: 1rem;
  color: var(--color-texto);
  margin-bottom: 1rem;
}

.post-principal .acciones {
  display: flex;
  justify-content: flex-end ;
  gap: 1rem;
  font-size: 0.95rem;
  color: var(--color-texto);
  margin-bottom: 0.5rem;
}

.post-principal .acciones i {
  margin-right: 0.4rem;
  font-size: 1rem;
}

.post-principal .meta {
  font-size: 0.90em;
  text-align: right;
  color: var(--color-sub);
}

.post-principal .imagen-post {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  border-radius: 12px;
  margin-top: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  margin-bottom: 0.45rem;
}

.sin-comentario {
  text-align: center;
  color: var(--color-sub);
  margin-top: 1rem;
}

/* Formulario de respuesta */
.form-respuesta {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  gap: 1rem;
  margin-bottom: 2rem;
  flex-wrap: nowrap;
  overflow: hidden; 
}

.marcada i {
  color: gold;
}

.form-respuesta img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.form-respuesta input {
  flex: 1 1 auto;
  min-width: 0; 
  padding: 0.6rem 1rem;
  border: 1px solid var(--color-bordes);
  background-color: var(--lavanda-translucido);
  border-radius: 20px;
  font-size: 0.95rem;
  color: var(--color-texto);
}

input::placeholder{
  color: var(--color-sub);
}


.btn-responder {
  padding: 0.6rem 2.2rem;
  font-size: 0.9rem;
  border-radius: 20px;
  border: none;
  background-color: var(--color-iconos);
  color: white;
  cursor: pointer;
  flex-shrink: 0;
  white-space: nowrap; 
}
.btn-responder:hover {
  background-color: #4a3bd1;
}

/* Comentarios */
.comentarios h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--color-texto);
}

.comentario {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.comentario img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 20px;
}

.comentario .contenido {
  border-radius: 10px;
  padding: 1rem;
  flex: 1;
  box-shadow: 0 2px 4px var(--lavanda-translucido);
}

.comentario .usuario {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
}


.comentario .usuario strong {
  color: var(--color-texto);
}

.comentario .usuario span {
  color: var(--color-sub);;
}

.comentario p {
  font-size: 0.95rem;
  color: var(--color-texto);;
  margin-bottom: 0.5rem;
}

.comentario .acciones {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  font-size: 0.95rem;
  color: var(--color-texto)
}

.comentario .acciones i {
  margin-right: 0.3rem;
  font-size: 1rem;
}

.comentario .meta {
  font-size: 0.90em;
  text-align: right;
  margin-bottom: 1rem;
  color: var(--color-sub);
}
.comentario a .meta{
  display: block;
  text-align: right;
  margin-left: auto;
  width: fit-content;
}

/* Scroll oculto */
.publicacion::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

@media (min-width: 877px) {
  .modal-respuesta {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    z-index: 10000;
  }

  .contenido-modal {
    position: absolute;
    top: 8vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-fondo);
    border-radius: 20px;
    padding: 1.5rem;
    max-width: 600px;
    width: 90%;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .barra-superior-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .usuario a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    display: flex;
  }

  .card-comentario{
    cursor: pointer;
  }

  .cancelar-modal {
    color: #888;
    font-size: 1rem;
    text-decoration: none;
  }

  .btn-subir {
    background-color: var(--color-iconos);
    color: white;
    padding: 0.5rem 1.4rem;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.95rem;
    cursor: pointer;
  }
  .btn-subir:hover {
    background-color: #4a3bd1;
  }

  .publicacion-respuesta {
    display: flex;
    gap: 0.8rem;
    padding-left: 0.6rem;
    border-left: 3px solid var(--color-iconos);
  }

  .imagen-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .publicacion-respuesta .contenido {
    font-size: 0.95rem;
    color: var(--color-texto);
  }

  .publicacion-respuesta .contenido strong {
    display: block;
    margin-bottom: 0.2rem;
    color: var(--color-texto);;
  }

  .campo-respuesta {
    display: flex;
    gap: 0.8rem;
    align-items: flex-start;
  }

  .campo-respuesta img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .respuesta-input {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  .respondiendo-a {
    font-size: 0.95rem;
    color: var(--color-texto);;
  }

  .respondiendo-a span {
    color: var(--color-iconos);
    font-weight: bold;
  }

  .respuesta-input textarea {
    width: 100%;
    min-height: 90px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.1rem;
    resize: none;
    font-family: 'Segoe UI', sans-serif;
    color: var(--color-texto);;
    padding: 0;
  }


  .respuesta-input textarea::placeholder {
    color: #aaa;
  }
  .acciones-respuesta {
    display: flex;
    margin-left: auto;
    background-color: var(--lavanda-translucido);
    border-radius: 2rem;
    padding: 0.5rem 0.8rem;
    gap: 0.8rem;
    z-index: 1000;
  }

  .acciones-respuesta i {
    color: var(--color-texto);
    font-size: 1.4rem;
    cursor: pointer;
  }
  .publicacion-respuesta .imagen-mini {
    max-width: 100%;
    max-height: 150px;
    border-radius: 10px;
    margin-top: 0.5rem;
    display: block;
    object-fit: cover;
  }

}

/* VERSIÓN RESPONSIVE */
@media (max-width: 876px) {
  aside,
  .panel-lateral,
  .fila-encabezados {
    display: none;
  }
  .modal-respuesta {
    display: none !important;
  }
  .header-mobile,
  .menu-mobile {
    display: flex;
  }
  .area-info {
    margin: 70px 0 60px 0;
    width: 100%;
    overflow-y: auto;
  }
  .contenedor-info {
    flex-direction: column;
    width: 100%;
  }
  .publicacion {
    padding: 1rem;
    width: 100%;
  }
  .post-principal,
  .comentario .contenido {
    padding: 1rem;
  }

  .form-respuesta input {
    font-size: 0.9rem;
  }
  .publicacion i{
    font-size: 1.1rem;
  }
  .seguir {
    font-size: 0.95rem;
  }
  .btn-responder {
    font-size: 0.95rem;
  }
  .titulo-mobile {
    display: flex;
    justify-content: center;
  }
  .imagen-post {
    max-height: 250px;
  }
}