# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.db

# Django
*.sqlite3
db.sqlite3

# Entornos virtuales
env/
venv/
ENV/
.venv/

# VSCode
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.log
*.bak
*.tmp

# Carpetas de build
build/
dist/
*.egg-info/

# Static root en producción
/staticfiles/
